# Ignore the following folders for production
/dev/
/system/
/utilities/
/testing/
/admin/
/instance/
/backups/

# Ignore Python bytecode files and folders
*.pyc
*.pyo
__pycache__/
*$py.class

# Ignore environment-specific files
.env
.venv

# Ignore Python virtual environment directories
venv/
env/
mps/

# Ignore temporary IDE files
.spyderproject
.spyderworkspace

# Ignore local system files
.DS_Store
*.swp
*.swo

# Ignore any other unintended local artifacts
*.log
