/* Styles for the navbar and the elements on the navbar */
#navbar {
    display: flex;                 /* Use flexbox for layout */
    justify-content: space-between; /* Spread items across the navbar */
    align-items: center;          /* Center items vertically */
    background-color: #f0f0f0;   /* Light gray background */
    padding: 0px;                /* Padding around the navbar */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; /* Optional bottom border */
}

#navbar button,
#navbar input,
#navbar .navbar-link {
    margin: 0 10px;              /* Spacing between items */
}

#navbar button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#navbar button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#navbar input {
    width: 80px;
    padding: 8px;               /* Padding inside the input */
    border: 1px solid #ccc;     /* Light gray border */
    border-radius: 5px;         /* Rounded corners */
}

/* Add margin to the Elapsed Time label to give it some space */
#navbar p {
    margin-left: 20px;  /* Adds space between the time label and other items */
}

/* Adjust the Next button's position */
#next-button {
    background-color: transparent; /* Transparent background */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 0; /* Remove default padding */
}

/* Style for the question status */
.completed {
    font-weight: bold;        /* Make text bold */
    color: green;             /* Set text color to green */
}

.not-completed {
    font-weight: bold;        /* Make text bold */
    color: red;               /* Set text color to red */
}


/*---------------------------------------------------------------------------------------*/
/* General body styles */
body {
    margin-top: 0;
    background-color: #3d3d39;
    font-family: Arial, sans-serif;
    padding: 0px;
}

h2 {
    color: #f5f3e6;
}

nav a {
    color: #3498db; /* Change this to your desired color */
    text-decoration: none; /* Optional: removes underline */
}

nav a:hover {
    color: #32a852; /* Optional: change color on hover */
}

/*---------------------------------------------------------------------------------------*/
/* Banner styling */
#banner-container {
    width: 100%;
    height: auto;
    overflow: hidden; /* Prevents any overflow issues */
    margin-bottom: 0px;
}

.banner {
    width: 100%; /* Ensure the image scales to the full width of the container */
    height: auto;
    object-fit: cover;
}

/*---------------------------------------------------------------------------------------*/

/* Ensure button is above the flex container */
/*#run-button-container {
    background-color: #f5f3e6;
    margin-bottom: 5px;
}*/

/* Container for both code editor/console and Q&A window */
.editor-question-feedback-scoring-container {
    display: flex;
    flex-wrap: nowrap; /* Allow wrapping if there's not enough space */
    justify-content: flex-start;
    gap: 1px;
    width: 100%;
}

/* Code editor and console container should take 50% of the width */
#code-console-container {
    flex-basis: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* Style for the CodeMirror editor */
.CodeMirror {
    border: 1px solid #007bff;
    border-radius: 1px;
    font-family: monospace;
    /*width: 50%;*/
    height: 365px; /* Fixed height */
    margin-bottom: 1px;
}

/* Style for the console */
#console {
    border: 1px solid #007bff;
    border-radius: 1px;
    height: 173px;
    overflow-y: scroll;
    padding: 5px; /* controls the distance from the edge to the output */
    background-color: #ffffff;
    font-family: monospace;
}

/* Question and feedback sub-container styles */
.question-feedback-container {
    flex-basis: 45%; /* Adjust based on your layout needs */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure feedback and question are spaced properly */
}

/* Question window */
#question-window {
    height: 230px;
    margin-bottom: 1px;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#question {
    margin-bottom: 0px;
}

/* Style for the submit button */
.button {
    width: 30%;
    margin-top: auto;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.1s;
}

/* Change background color on hover */
.button:hover {
    background-color: #45a049; /* Darker green */
}

/* Add transform effect on active state */
.button:active {
    transform: scale(0.95); /* Slightly shrink the button */
}

/* Style to format the run button when disabled */
.button:disabled {
    background-color: #ccc; /* Gray */
    color: #666; /* Lighter text color */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    opacity: 0.6; /* Slightly transparent */
}

.v_button {
    width: 30%;
    margin-top: auto;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s, transform 0.1s;
}

/* Change background color on hover */
.v_button:hover {
    background-color: #45a049; /* Darker green */
}

/* Add transform effect on active state */
.v_button:active {
    transform: scale(0.95); /* Slightly shrink the button */
}

/* Style to format the run button when disabled */
.v_button:disabled {
    background-color: #ccc; /* Gray */
    color: #666; /* Lighter text color */
    cursor: not-allowed; /* Change cursor to indicate it's disabled */
    opacity: 0.6; /* Slightly transparent */
}

/* Styling for the YouTube feedback container */
#feedback-window {
    height: 275px;
    border: 1px solid #007bff;
    border-radius: 0px;
    padding: 12px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#loading-message {
    color: #ffffff;
}


.scoring-container {
    flex-basis: 15%; /* Adjust based on your layout needs */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#scoring-panel {
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 15px;
    background-color: #ffffff;
    height: 522px;
}

/* ---------------------------------------------------------------------------------- */
/* Styles for the calculator and notepad modals */
.calculator-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it sits on top of other elements */
}

.calculator-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-display {
    width: 100%;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calc-btn {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f9f9f9;
}

.calc-btn:hover {
    background-color: #e0e0e0;
}

button.clear {
    background-color: #f44336;
    color: white;
}

button.clear:hover {
    background-color: #d32f2f;
}

.close {
    background-color: transparent;
    font-size: 24px;
    color: #333;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

/* Notepad Modal */
.notepad-modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
}

/* Content inside the modal */
.notepad-content {
    padding: 10px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

/* Notepad Textarea */
.notepad-textarea {
    flex-grow: 1;
    /*width: 100%;
    height: 100%;*/
    padding: 10px;
    font-size: 14px;
    border: none;
    resize: none;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Close button */
.close-notepad {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* Make the notepad draggable */
.notepad-modal.draggable {
    cursor: move;
}

/* Input Modal Styles */
#inputModal {
    display: none;  /* Hidden by default */
    position: fixed;
    z-index: 9999;  /* Ensure the modal is on top of other content */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  /* Center the modal */
    width: 400px;  /* You can adjust the width as per your preference */
    background-color: rgba(255, 255, 255, 1); /* Slight transparency */
    border-radius: 10px;  /* Rounded corners for the modal */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Soft shadow around the modal */
    padding: 20px;
    border: 2px solid #007bff; /* Blue border around the modal */
    box-sizing: border-box;
}

.modal-header {
    display: flex; /* This makes the image and text sit side by side */
    align-items: center; /* Vertically centers the items */
    justify-content: flex-start; /* Ensures the items are aligned to the left */
}

.input-icon {
    width: 30px;           /* Adjust width and height to make the image visible */
    height: 30px;          /* Adjust height as needed */
    margin-right: 10px;    /* Space it from other elements */
}

#inputModalPromptMessage {
    margin: 0;
    font-size: 16px;
}

/* Modal content styling */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for the input field and submit button */
#userInput {
    width: 80%;  /* Adjust width as needed */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitInput {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submitInput:hover {
    background-color: #0056b3;
}
