<!DOCTYPE html>
<html>
<head>
    <title>New User</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/form_styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/watermark.png">
    <style>
        
    </style>
</head>
<body>
    <!-- Banner image at the top -->
    <div id="banner-container">
        <a href="../admin">
            <img src="{{ url_for('static', filename='images/Web Banner.png') }}" alt="Web Banner" class="banner">
        </a>
    <!-- Navbar with admin buttons -->
    <div id="navbar">
        <p>Logged in as: <strong>{{ username }}</strong></p>
        <form action="/logout" method="POST" id="logout-form">
            <button type="submit">Logout</button> <!-- Logout button -->
        </form>
    </div>
    <h2>Add New User</h2>
    <!--<form id="user-data-form" method="post" action="/update_user">-->
    <form id="add-user-form" onsubmit="submitForm(); return false;">
        <label for="new_username">Add Username:</label>
        <input type="text" id="new_username" name="new_username"><br>
        
        <label for="new_password">Add Password:</label>
        <input type="text" id="new_password" name="new_password"><br>

        <label for="new_email">Email:</label>
        <input type="text" id="new_email" name="new_email"><br>
        
        <input type="submit" value="Add User">
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {});

        function submitForm() {
            var newUsername = document.getElementById('new_username').value;
            var newPassword = document.getElementById('new_password').value;
            var newEmail = document.getElementById('new_email').value;
            data = {"new_username": newUsername, "new_password": newPassword, "new_email": newEmail}
            console.log(data)     
            fetch('/add_new_user', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.message === "User added successfully") {
                    location.reload(); // Refresh the page
                }
            })
            .catch(error => console.error('Error adding user:', error));
        }

    </script>

</body>
</html>