<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/form_styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/watermark.png">
</head>
<body>
    <!-- Banner image at the top -->
    <div id="banner-container">
        <a href="../admin">
            <img src="{{ url_for('static', filename='images/Web Banner.png') }}" alt="Web Banner" class="banner">
        </a>
    </div>
    <!-- Navbar with admin buttons -->
    <div id="navbar">
        <p>Logged in as: <strong>{{ username }}</strong></p>
        <form action="/logout" method="POST" id="logout-form">
            <button type="submit">Logout</button> <!-- Logout button -->
        </form>
    </div>
    <h2>Create New User</h2>
    <form id="new-user-form" method="post" action="/new_user">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <input type="submit" value="Create User">
    </form>
</body>
</html>