<!DOCTYPE html>
<html>
<head>
    <title>Remove User</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/form_styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/watermark.png">
    <style>
        
    </style>
</head>
<body>
    <!-- Banner image at the top -->
    <div id="banner-container">
        <a href="../admin">
            <img src="{{ url_for('static', filename='images/Web Banner.png') }}" alt="Web Banner" class="banner">
        </a>
    <!-- Navbar with admin buttons -->
    <div id="navbar">
        <p>Logged in as: <strong>{{ username }}</strong></p>
        <form action="/logout" method="POST" id="logout-form">
            <button type="submit">Logout</button> <!-- Logout button -->
        </form>
    </div>
    <h2>Remove a User</h2>
    <!--<form id="user-data-form" method="post" action="/update_user">-->
    <form id="remove-user-form" onsubmit="submitForm(); return false;">
        <label for="username">Select User:</label>
        <select id="username" name="username">
            <option value="">Select a user</option>
            {% for user in users %}
                <option value="{{ user.username }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        
        <label for="adminUsername">Admin Username:</label>
        <input type="text" id="adminUsername" name="adminUsername"><br>

        <label for="adminPassword">Admin Password:</label>
        <input type="text" id="adminPassword" name="adminPassword"><br>
        
        <input type="submit" value="Remove User">
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/get_users')
                .then(response => response.json())
                .then(users => {
                    var dropdown = document.getElementById('username');
                    users.forEach(username => {
                        var option = document.createElement('option');
                        option.value = username;
                        option.text = username;
                        dropdown.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching usernames:', error));
        });
        
        function submitForm() {
            var username = document.getElementById('username').value;
            var adminUsername = document.getElementById('adminUsername').value;
            var adminPassword = document.getElementById('adminPassword').value
            data = {"username": username, "adminUsername": adminUsername, "adminPassword": adminPassword}
                    
            fetch('/remove_user_data', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.message === "User removed successfully") {
                    location.reload(); // Refresh the page
                }
            })
            .catch(error => console.error('Error removing user:', error));
        }

    </script>

</body>
</html>